* {
  margin: 0px;
  font-family: "Sora", sans-serif;
}
body {
  background-color: rgb(50, 50, 50);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(64, 64, 64);
  width: 100vw;
  height: 8vh;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
a:hover {
background-color: grey;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}
.dark-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 70vh;
  width: 70vw;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
}
.box-header {
  background-color: rgb(31, 31, 31);
  height: 125px;
  width: 65vw;
}
.about-text {
  font-size: 2.4em;
  color: #fff;
}
.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.about-p {
  font-size: 1.2em;
  color: white;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 70vw;
}
.skills-pics {
  height: 5rem;
  width: auto;
}

.skills-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.skills-box {
display: grid; 
grid-template-columns: repeat(5, 1fr);
gap: 1rem;
justify-items: center;
align-items: center;

  width: 70vw;
  height: 50vh;
}
.projects-text {
  color: white;
  font-size: 6em;
}
.contact-img {
  height: 250px;
  width: auto;
}
.contact-text {
  color: white;
  margin-top: 10px;
}
.contact-box {
  display: flex;
}

.contact-spacing {
  margin: 30px
}
.main-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
}
.projects-div{
  background-color: rgb(31, 31, 31);
  height: 500px;
  width: 70vw;
  border-radius: 20px;
  align-items: center;
}
.img-project {
  height: 250px;
}
.project-disc {
  margin-top: 20px;
  color: white;
  font-size: 15px;
}
.project-title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.project-links-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
